<% include ../../partials/manager/dashboardColumn.ejs %>
        <div id="page-wrapper">
            </br>
            </br>
            <% include ../../partials/flashMessage.ejs %>
            
          
            <div class="container-fluid">
            </br>
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <form id='emailToRegisterForm'>
                            <label for="emailToRegister" class="control-label"><h4><b>Send a link so parents can register in this Nursery.</b></h4></label>
                               <div class="form-group input-group">
                                    <input id='emailToRegister' name='emailParent' type="email" class="form-control" placeholder="Enter parent's email">
                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"> Send Link</button></span>
                              </div>
                                                 
                        </form>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                          <hr>  
                        <h4><b>Parents still to register:</b></h4>
                                <ul id='teachersWaitingRegistration' class="list-group">
                                  <% currentUser.waitingRegistrationParents.forEach(function(element){
                                        if(element!=""){
                                  %>
                                    <li class="list-group-item">
                                      <span><%=element%></span>
                                      <span class='pull-right'>
                                        <a href='' id='<%=element%>'  onClick="removeFromStillToRegister(event,this.id,'parent');" class='btn btn-xs btn-danger'  data-toggle="tooltip" title="Remove"><i class="fa  fa-fw fa-trash-o" aria-hidden="true"></i></a>
                                        <a href='' id='<%=element%>'  onClick="resendLink(event,this.id,'parent');" class='btn btn-xs btn-info' data-toggle="tooltip" title="Re-send link"><i class="fa  fa-fw fa-paper-plane-o" aria-hidden="true"></i></a>
                                        <a class='btn btn-xs btn-warning' data-toggle="tooltip" title="Register User yourself (You will need to set the password for him/her)"><i class="fa  fa-fw fa-user-plus" aria-hidden="true"></i></a>
                                      </span>
                                </li>
                                    
                                   <% } }); %>
                                </ul>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <hr>  
                        <h4><b>You can search for the current registered parents here:</b></h4>
                        <div class="form-group input-group">
                            <input type='search' id='searchUser' onkeyup="mySearchFunction()" placeholder="Search for registered parents..." class="form-control">
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i> Search</button></span>
                        </div>
                        <div class="table-responsive">

                        <table class="table table-hover table-striped">
                              <thead >
                                <tr>
                                  <th>Name</th>
                                  <th>Contact Number</th>
                                  <th>Username</th>
                                </tr>
                              </thead>
                              <tbody id='bodyTableUsers'>
                                
                                <% if(typeof populatedDataParents !== 'undefined'){%>
                                <script>
                                     var objTeacherFromEjs='<%-populatedDataParents%>';//pass the populated data of Teachers coming from ejs to the Static script
                                </script>
                               <% populatedDataParents.forEach(function(objParent){
                                   var parsedData = JSON.stringify(objParent);
                               %>
                                <tr id='<%=objParent._id%>' class='rowUser' data-objteacher="<%= parsedData %>" data-toggle="modal" data-target="#myModal">
                                  <td><%=objParent.details[0].firstname%> <%=objParent.details[0].lastname%></td>
                                  <td><%=objParent.details[0].contactnumber%></td>
                                  <td><%=objParent.username%></td>
                                </tr>
                              <% }); }%>
                              </tbody>
                            </table>
                        </div>
                        
                        
                      </div><!-- left-column inside main window -->
                    </div> <!-- main row -->



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
         <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Parent registered in <strong><%=currentUser.details[0].name%></strong></h4>
                    </div>
                    <div class="modal-body">
                          <h2 id='justName'></h2>
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Personal Information</a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                    <ul>
                                      <li id='firstnameLIst'><span><strong>Firstname: </strong></span><span class='info'></span></li>
                                      <li id='lastnameLIst'><span><strong>Lastname: </strong></span><span class='info'></span></li>
                                      <li id='contactnumberLIst'><span><strong>Contact Number: </strong></span><span class='info'></span></li>
                                      <li id='usernameLIst'><span><strong>Email/username: </strong></span><span class='info'></span></li>
                                      <li id='moreInfoLIst'><span><strong>More info: </strong></span><span class='info'></span></li>
                                    </ul>
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" id='deleteUser'  data-toggle="modal" data-target="#myConfirmation">Delete User</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal -->
        
        <!-- Modal confirmation-->
              <div class="modal fade" id="myConfirmation" tabindex="-1" role="dialog" style='top:20%' aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><strong>Are you sure? The user will be deleted permanently.</strong></h4>
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" id='deleteUserPermanently' data-label='parent'>Delete User</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal Confirmation-->

    </div>
    <!-- /#wrapper -->

  <% include ../../partials/dashboardCommon/dashboardFooter.ejs %>

