<% include ../../partials/manager/dashboardColumn.ejs %>
        <div id="page-wrapper">

            <% include ../../partials/flashMessage.ejs %>
            
          
            <div class="container-fluid">
                 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Children 
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Children
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                       
                        <h4><b>You can search for the current registered children here:</b></h4>
                        <div class="form-group input-group">
                            <input type='search' id='searchUser' onkeyup="mySearchFunction()" placeholder="Search for registered children..." class="form-control">
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i> Search</button></span>
                        </div>
                        <div class="table-responsive">

                        <table class="table table-hover table-striped">
                              <thead >
                                <tr>
                                  <th>Name</th>
                                  <th>Gender</th>
                                  <th>Date Of Birth</th>
                                </tr>
                              </thead>
                              <tbody id='bodyTableUsers'>
                                
                                <% if(typeof populatedData.children !== 'undefined'){%>
                                 <% populatedData.children.forEach(function(objChildren){
                                  
                               %>
                                <tr id='<%=objChildren._id%>' class='rowUserChildren' data-objchildren="<%= JSON.stringify(objChildren) %>" data-objparentarr="<%=JSON.stringify(objChildren.parent)%>" data-toggle="modal" data-target="#myModal">
                                  <td><%=objChildren.details[0].firstname%> <%=objChildren.details[0].lastname%></td>
                                  <td><%=objChildren.details[0].gender%></td>
                                  <td><%=objChildren.details[0].dob%></td>
                                </tr>
                              <% }); }%>
                              </tbody>
                            </table>
                        </div>
                        
                        
                      </div><!-- left-column inside main window -->
                    </div> <!-- main row -->



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
         <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Child registered in <strong><%=currentUser.details[0].name%></strong></h4>
                    </div>
                    <div class="modal-body">
                          <h2 id='justName'></h2>
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Personal Information</a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                  <div class="panel-body messages">
                                    <ul>
                                      <li id='chfirstnameLIst'><span><strong>Firstname: </strong></span><span class='info'></span></li>
                                      <li id='chlastnameLIst'><span><strong>Lastname: </strong></span><span class='info'></span></li>
                                      <li id='chgenderLIst'><span><strong>Gender: </strong></span><span class='info'></span></li>
                                      <li id='chdobLIst'><span><strong>Date Of Birth: </strong></span><span class='info'></span></li>
                                      <li id='chaddressLIst'><span><strong>Address: </strong></span><span class='info'></span></li>
                                      <li id='chcityLIst'><span><strong>City: </strong></span><span class='info'></span></li>
                                      <li id='chcountryLIst'><span><strong>Country: </strong></span><span class='info'></span></li>
                                      <li id='chpostcodeLIst'><span><strong>Post Code: </strong></span><span class='info'></span></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Main Carer Details</a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <div class="panel-body messages">
                                     <ul>
                                      <li id='firstnameLIst'><span><strong>Firstname: </strong></span><span class='info'></span></li>
                                      <li id='lastnameLIst'><span><strong>Lastname: </strong></span><span class='info'></span></li>
                                      <li id='contactnumberLIst'><span><strong>Contact Number: </strong></span><span class='info'></span></li>
                                      <li id='usernameLIst'><span><strong>Email: </strong></span><span class='info'></span></li>
                                      <li id='relationship'><span><strong>Relationship to child: </strong></span><span class='info'></span></li>
                                     </ul>
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Medical Information</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body messages">
                                    <ul>
                                      <li id='illnesses'><span><strong>Illnesses: </strong></span><span class='info'></span></li>
                                      <li id='allergies'><span><strong>Allergies: </strong></span><span class='info'></span></li>
                                      <li id='medications'><span><strong>Medications: </strong></span><span class='info'></span></li>
                                      <li id='foodNotAllowed'><span><strong>Forbidden food: </strong></span><span class='info'></span></li>
                                      <li id='disabilities'><span><strong>Disabilities: </strong></span><span class='info'></span></li>
                                      <li id='specialSupport'><span><strong>Special Support: </strong></span><span class='info'></span></li>
                                      <li id='doctorName'><span><strong>Doctor’s Name: </strong></span><span class='info'></span></li>
                                      <li id='doctorContactnumber'><span><strong>Doctor’s Telephone Number: </strong></span><span class='info'></span></li>
                                      <li id='doctorAddress'><span><strong>Doctor’s Address: </strong></span><span class='info'></span></li>
                                    </ul>
                                  </div>
                                </div>
                              </div><!--panel-->
                            </div><!-- accordion, panel gorup-->
                            
                        <h3>Parents this child has registered at <strong><%=currentUser.details[0].name%></strong>:</h3>
                        <div class='panel-group' id='containerParent'>
                               <!--panels  generated by jquery go here-->
                        </div>
                    </div><!--modal-body-->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" id='deleteUser'  data-toggle="modal" data-target="#myConfirmation">Delete User</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal -->
        
        <!-- Modal confirmation-->
              <div class="modal fade" id="myConfirmation" tabindex="-1" role="dialog" style='top:20%' aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><strong>Are you sure? The user will be deleted permanently.</strong></h4>
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" id='deleteUserPermanently' data-label='children'>Delete User</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal Confirmation-->

    </div>
    <!-- /#wrapper -->

  <% include ../../partials/dashboardCommon/dashboardFooter.ejs %>
