<% include ../../partials/teacher/dashboardColumn.ejs %> 

<div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>
            
        <script>
         var childAge= '<%-childAge%>';//pass variable coming from ejs to Static JS Scipt
        </script>   

        <div  class="container-fluid">

           <h3>Progress Report for child: <strong><span><%=childFound.details[0].firstname%> <%=childFound.details[0].lastname%></span>. DOB: <%=childFound.details[0].dob%></span>. Age: <span><%=childAge%></span>.</strong></h3>
           <p><span class='label label-success'>HP</span> High Priority - Parents will be informed if mark is "Needs Special Attention",</p> 
           <p></p><span class='label label-warning'>LP</span> Low Priority - Parents will not be informed even if mark is "Needs Special Attention".</p>
           <p></p><span class='label label-info'>Note:</span> As the child’s age increases the Skills that had a higher priority first will have a lower priority after because he/she should have already gained those skills at an early age. 
           If you believe a child needs special support in any particular area, you should send a message to his/her parents, giving some suggestions as to how to address that problem.
           </p>
            <div class='jumbotron'>
               <form id='progressReport'>
                  <div class='row'>

                   <div class='col-md-9'>
                    <h4><span id='intellectualInfo' data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Intellectual Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='mathematical' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Mathematical Skills </label>

                                      <select name='mathematical' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='language' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Language and communication Skills </label>

                                      <select name='language' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='attention' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Attention skills </label>

                                      <select  name='attention' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='recognition' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Recognition and perception of objects, people, etc. </label>

                                      <select  name='recognition' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- first row -->
                 <div class='row'>

                   <div class='col-md-9'>
                    <h4><span  id='socialInfo' data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Social and Emotional Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='respect' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Affection and respect for others </label>

                                      <select  name='respect' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='teamworking' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Team-working skills </label>

                                      <select  name='teamworking' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='independence' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Independence and personal autonomy </label>

                                      <select  name='independence' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='feelingsexpression' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Expression of feelings and emotions </label>

                                      <select name='feelingsexpression' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- second row -->
                 <div class='row'>

                   <div class='col-md-9'>
                    <h4><span  id='physicalInfo' data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Psychomotor and Physical Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='motor' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Motor skills </label>

                                      <select name='motor' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='manipulative' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Manipulative and movement skills </label>

                                      <select name='manipulative' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div  id='hygiene'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Personal hygiene </label>

                                      <select name='hygiene' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='diet'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='label'></span> Healthy Diet </label>

                                      <select name='diet' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- third row -->
                   
                <button class='btn btn-success btn-lg' type='submit'>Create Report</button>
                   
               </form>
       
           </div><!--jumbotron-->
       
       
       
       
       </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
    
      <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">
                          <strong  id="myModalLabel"></strong>
                      </h4>
                    </div>
                    <div class="modal-body">
                        
                        <h4 id='myModalBody'></h4>

                    </div><!--modal-body-->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal -->
    

  </div>
    <!-- /#wrapper -->
    
  <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src='/script/reportFormHandler.js'></script>
</body>

</html>
