<% include ../../partials/teacher/dashboardColumn.ejs %> 

<div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>
            
        <script>
         var childAge= '<%-childAge%>';//pass variable coming from ejs to Static JS Scipt
        </script>   

        <div  class="container-fluid">
            
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                           Progress Report for child: <small><strong><%=childFound.details[0].firstname%> <%=childFound.details[0].lastname%></strong>. DOB: <%=childFound.details[0].dob%></span>. Age: <span><%=childAge%></span>.</small>
                        </h2>
            
                           <p><span class='label label-primary'>HP</span> High Priority - Parents will be informed if mark is "Needs Special Attention",</p> 
                           <p></p><span class='label label-warning'>LP</span> Low Priority - Parents will not be informed even if mark is "Needs Special Attention".</p>
                           <p></p><span class='label label-info'>Note:</span> As the child’s age increases the Skills that had a higher priority first will have a lower priority after because he/she should have already gained those skills at an early age. 
                           If you believe a child needs special support in any particular area, you should send a message to his/her parents, giving some suggestions as to how to address that problem.
                           </p>
              
                        
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-edit"></i> Report Form
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
          <div class='jumbotron' >
               <form id='progressReport' action='/dashboard/teacher/<%=currentUser._id%>/report/<%=childFound._id%>' method='POST'>
                    <input name='childAge' value='<%=childAge%>' type='hidden' />
                  <div class='row'>

                   <div class='col-md-6'>
                    <div class='prioritiesContent'>
                    <h4 id='intellectualInfo' data-toggle="modal" data-target="#myModal"><span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Intellectual Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='Mathematical' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Mathematical Skills </label>

                                      <select name='intellectual[mathematical]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='Language' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Language and communication Skills </label>

                                      <select name='intellectual[language]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='Attention' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Attention skills </label>

                                      <select  name='intellectual[attention]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='Recognition' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Recognition and perception of objects, people, etc. </label>

                                      <select  name='intellectual[recognition]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                        </div>
                   </div><!-- first column -->


                   <div class='col-md-6'>
                    <div class='prioritiesContent'>
                    <h4  id='socialInfo' data-toggle="modal" data-target="#myModal"><span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Social and Emotional Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='Respect' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Affection and respect for others </label>

                                      <select  name='social[respect]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='Team-working' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Team-working skills </label>

                                      <select  name='social[teamworking]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='Independence' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Independence and personal autonomy </label>

                                      <select  name='social[independence]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='Emotional-expression' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Expression of feelings and emotions </label>

                                      <select name='social[feelingsexpression]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                        </div>
                   </div><!--column -->
                   
                 </div><!-- first row -->
                 <div class='row'>

                  <div class='col-md-6'>
                    <div class='prioritiesContent'>
                    <h4  id='physicalInfo' data-toggle="modal" data-target="#myModal"><span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> <strong><u>Psychomotor and Physical Development</u></strong></h4>
                     <ul>
                              <li>
                                 <div id='Motor' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Motor skills </label>

                                      <select name='physical[motor]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='Manipulative' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Manipulative and movement skills </label>

                                      <select name='physical[manipulative]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div  id='Hygiene'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Personal hygiene </label>

                                      <select name='physical[hygiene]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='Diet'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><span class='infoLabel'></span> Healthy Diet </label>

                                      <select name='physical[diet]' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                        </div>
                   </div><!--column -->
                   <div class='col-md-6'>
                    <div class='prioritiesContent'>
                    <h4 id='comments'><span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Let the parents know if you have any concern about this child.' ></i></span> <strong><u>Comments and Suggestions</u></strong></h4>
                         <div class="form-group">
                            <label for="comments">Any comment about this child:</label>
                            <textarea style='resize:vertical;'class="form-control" rows="7" name='comments' id="comments"></textarea>
                         </div> 
                    </div>
                   </div><!-- second column -->
                 </div><!-- third row -->
                 
                 <div class='row' style='margin-top:10px;'>
                     <div class='col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12'>
                        <button class='btn btn-success btn-block' type='submit'>Create Report</button>
                    </div>
                 </div><!-- fourth row -->  
               </form>
       
           </div><!--jumbotron-->
       
       
       
       
       </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
    
      <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">
                          <strong  id="myModalLabel"></strong>
                      </h4>
                    </div>
                    <div class="modal-body">
                        
                        <h4 id='myModalBody'></h4>

                    </div><!--modal-body-->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- Modal -->
    

  </div>
    <!-- /#wrapper -->
    
  <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src='/script/reportFormHandler.js'></script>
</body>

</html>
