<% include ../../partials/parent/dashboardColumn.ejs %>

        <div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>

            <div id='managerViewContainer' class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Parents</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                             <li>
                                <a class='btn btn-xs btn-info' href="/dashboard/<%=currentUser.label%>/<%=currentUser._id%>/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a class='btn btn-xs btn-primary' href="/dashboard/<%=currentUser.label%>/<%=currentUser._id%>/settings"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <!--row-->
                
                  <div class="row">    
                  
                   <div class="col-lg-6 col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        <i class="fa fa-envelope fa-fw"></i> Unread messages
                                    </span>
                                    <span class='pull-right'>
                                        <a class=" btn btn-success btn-xs" href="/dashboard/parent/<%=currentUser._id%>/messages/new"><i class="fa fa-fw fa-plus"></i> New message</a></a>
                                    </span>
                                </div>
                                <div class="panel-body fixedPanelDashboard">
                                  
                                  <% include ../../partials/messages/messagesInbox.ejs %>

                                </div>
                            </div>
                    </div><!-- /.col polls -->

                    
                    <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Current Polls:</h3>
                                </div>
                                <div class="panel-body fixedPanelDashboard">
                                         <div class="list-group">
                                    
                                    
                                                <% if(userPollsRet){ 
                                                    userPollsRet.forEach(function(userPoll){
                                               %>
                                                   <a class="list-group-item clearfix" href="/dashboard/<%=currentUser.label%>/<%=currentUser._id%>/polls/<%=userPoll._id%>">
                                                       
                                                       <div class='row'>
                                                           <div class='col-lg-10 col-md-10 col-sm-10 col-xs-9'>
                                                                <strong class="list-group-item-heading"><%= userPoll.title%></strong>
                                                                <p class="list-group-item-text">
                                                                    <%= userPoll.description%>  
                                                                </p>
                                                           </div>
                                                        </div>
                                                        
                                                        
                                                    </a>
                                           
                                            
                                                <% }); } %>
       
                                                       
                                          </div> <!--lis-->
             
                                </div>
                            </div>
                    </div><!-- /.col polls -->
                    
                </div>
                <!-- /.row -->
              
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    

  <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src='/script/messagesHandler.js'></script>
</body>

</html>

