<% include ../../partials/parent/dashboardColumn.ejs %>
      
     <div id="page-wrapper">
        <% include ../../partials/flashMessage.ejs %>

         <div id='managerViewContainer' class="container-fluid">
      
             
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Poll's title: <small><%=showOnePoll.title%></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Polls
                            </li>
                            <li class="active">
                                <i class="fa fa-arrow-right"></i> <%=showOnePoll.title%>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
    
                <div class="row">
                    <div class="col-md-5"  >
                        <div class="well" >
                            <h3><strong><u>Description</u></strong><h3>
                            <%=showOnePoll.description%>
                        </div>
                
                        <h2>I would like to vote for:</h2>
                        <form style="max-width:500px" id="submitVoteForm" action="/dashboard/<%=currentUser.label%>/<%=currentUser._id%>/polls/<%=showOnePoll._id%>/vote" method="POST" role="form">
                          <div class="form-group">
                            <label for="sel1">Select list (select one):</label>
                            <select name="optionSubmitted" class="form-control" id="sel1">
                              <%showOnePoll.optionsArray.forEach(function(pollElem){ %>
                                
                                <option value="<%=pollElem._id%>"><%= pollElem.label %></option>
                                
                              <% });%>
                              
                             
                            </select>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Vote</button>
                          
                       </form>
                    </div>
                
                
                    <div class="col-md-5">
                      <div id="chart-area" class="row">

                            <canvas id="canvasId"></canvas>
                      </div>
                    </div> <!--Graph --> 
                
                    <div id="legend" class="col-md-2"></div><!--legend--> 
                    
                <script>
                          
                         
                              
                        var pieData = <%-JSON.stringify(showOnePoll.optionsArray)%>;
                         
                          
                          
                         var helpers = Chart.helpers;
                
                            var pieOptions = {
                                
                            	segmentShowStroke : true,
                            	animateScale : true,
                                 tooltipTemplate: "\<\%if (label){ \%\>\<\%\=label \%\>: \<\% } \%\>\<\%\= value \%\> votes",
                
                            
                            	}
                            
                            var countries= document.getElementById("canvasId").getContext("2d");
                            var lineChart = new Chart(countries).Doughnut(pieData, pieOptions);
                              //document.getElementById("legend").innerHTML = lineChart.generateLegend();
                              
                              var legendHolder = document.createElement('div');
                            legendHolder.innerHTML = lineChart.generateLegend();
                            
                            document.getElementById('legend').appendChild(legendHolder.firstChild);
                </script> 

              </div><!--row-->

      </div>
    </div><!--page-wrapper-->
</div>
<!-- /#wrapper -->

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
