<% include ../../partials/parent/dashboardColumn.ejs %> 

<div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>
            
            

        <div  class="container-fluid">
                 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Medical Information 
                        </h1>
                        <ol class="breadcrumb">
                            <li >
                                 <a href="/dashboard/<%=currentUser.label%>/<%=currentUser._id%>/children"><i class="fa fa-fw fa-child"></i>Children</a>
                            </li>
                             <li class="active">
                                 <i class="fa fa-fw fa-edit"></i>Medical Information
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

      <form id="childrenRegisterForm" class="formsStyle " action="/dashboard/parent/<%=currentUser._id%>/children/<%=childObject._id%>/medical/edit?_method=PUT" method="POST">
        

           <div class='row'>
              <div class='col-md-6'>
                   <div class="panel-group" id="accordion1">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <span class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1"><i class="fa fa-user-md fa-fw"></i><strong> Illnesses</a>
                              </span>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                 <div class="form-group">
                                    <label for="illnesses">Illnesess your child has:</label>
                                    <textarea style='resize:vertical;'class="form-control" rows="5" name='illnesses' id="illnesses"><%= childObject.medicalInfo[0].illnesses%></textarea>
                                 </div> 
                  
                                
                              </div><!--panel-body-->
                            </div><!--panel-collapse-->
                          </div><!--panel-->
                    </div><!-- accordion, panel gorup-->
             </div><!--first column end -->
             
             <div class='col-md-6'>
                            
                          <div class="panel-group" id="accordion2">
                                  <div class="panel panel-primary">
                                    <div class="panel-heading">
                                      <span class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="fa fa-user-md fa-fw"></i><strong> Food Child is not Allowed to Eat</a>
                                      </span>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        <div class="form-group">
                                            <label for="food">What food can your child NOT eat?</label>
                                            <textarea style='resize:vertical;'class="form-control" rows="5" name='food' id="food"><%= childObject.medicalInfo[0].foodNotAllowed%></textarea>
                                        </div> 

                                      </div><!--panel-body-->
                                    </div><!--panel-collapse-->
                                  </div><!--panel-->
                            </div><!-- accordion, panel gorup-->
              </div> <!--second column end-->
          </div><!--end of first row-->
          
           <div class='row'>
              <div class='col-md-6'>
                           <div class="panel-group" id="accordion3">
                                  <div class="panel panel-primary">
                                    <div class="panel-heading">
                                      <span class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3"><i class="fa fa-user-md fa-fw"></i><strong> Allergies</storn></a>
                                      </span>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                          <div class="form-group">
                                            <label for="allergies">Allergies your child has:</label>
                                            <textarea style='resize:vertical;'class="form-control" rows="5" name='allergies' id="allergies"><%= childObject.medicalInfo[0].allergies%></textarea>
                                          </div>                                         
                                      </div><!--panel-body-->
                                    </div><!--panel-collapse-->
                                  </div><!--panel-->
                            </div><!-- accordion, panel gorup-->
                      </div><!--column-->

             <div class='col-md-6'>
                   <div class="panel-group" id="accordion4">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <span class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4"><i class="fa fa-user-md fa-fw"></i><strong> Medications Child is taking</storn></a>
                            </span>
                          </div>
                          <div id="collapse4" class="panel-collapse collapse in">
                            <div class="panel-body">
                              
                              <div class="form-group">
                                <label for="medications">What medications is your child taking?</label>
                                <textarea style='resize:vertical;'class="form-control" rows="5" name='medications' id="medications"><%= childObject.medicalInfo[0].medications%></textarea>
                              </div>

                            </div><!--panel-body-->
                          </div><!--panel-collapse-->
                        </div><!--panel-->
                  </div><!-- accordion, panel gorup-->
              </div><!--column-->
          </div><!--end of first row-->          
         
        
          <div class='row'>
              <div class='col-md-6'>
                   <div class="panel-group" id="accordion5">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <span class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion5" href="#collapse5"><i class="fa fa-user-md fa-fw"></i><strong> Extra information</storn></a>
                            </span>
                          </div>
                          <div id="collapse5" class="panel-collapse collapse in">
                            <div class="panel-body">

                              <div class='form-group'>
                                <label for='disabilityDetails'>Please give details if child has any disability:</label>
                                <textarea style='resize:vertical;'class="form-control" rows="5" name='disabilityDetails' id="disabilityDetails"><%= childObject.medicalInfo[0].disabilities%></textarea>
                              </div>
                              
                              <div class="form-group">
                                <label for="specialSupport">What special support will the child require within the nursery?</label>
                                <textarea style='resize:vertical;'class="form-control" rows="5" name='specialSupport' id="specialSupport"><%= childObject.medicalInfo[0].specialSupport%></textarea>
                              </div>
                               
                              
                            </div><!--panel-body-->
                          </div><!--panel-collapse-->
                        </div><!--panel-->
                  </div><!-- accordion, panel gorup-->                
             </div><!--first column end -->            
            
            
            <div class='col-md-6'>
                   <div class="panel-group" id="accordion6">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <span class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion6" href="#collapse6"><i class="fa fa-hospital-o fa-fw"></i><strong> Hospital information</storn></a>
                            </span>
                          </div>
                          <div id="collapse6" class="panel-collapse collapse in">
                            <div class="panel-body">
                              
                              <div class="form-group">
                                  <label for="doctorName">Doctor’s Name:</label>
                                  <input type="text" class="form-control" name='doctorName' id="doctorName" value='<%= childObject.medicalInfo[0].doctorName%>'>
                                </div>
                                <div class="form-group">
                                  <label for="doctorAddress">Doctor’s Address:</label>
                                  <input type="text" class="form-control" name='doctorAddress' id="doctorAddress" value='<%= childObject.medicalInfo[0].doctorAddress%>'>
                                </div>
                               <div class="form-group">
                                  <label for="doctorContactnumber">Doctor’s Telephone Number:</label>
                                  <input type="number" class="form-control" name='doctorContactnumber' id="doctorContactnumber" value='<%= childObject.medicalInfo[0].doctorContactnumber%>'>
                                </div>
                              
                            </div><!--panel-body-->
                          </div><!--panel-collapse-->
                        </div><!--panel-->
                  </div><!-- accordion, panel gorup-->
                  
                  <div style="margin-right:0; margin-left:0;"  class=" row well">
                          <button type="submit" name="submit" id="submit" class="btn btn-block btn-success">Save</button>

                  </div>
            </div><!--col end-->  
          </div><!--third row-->

              

      
       </form>
       
      </div><!--container end-->
    </div><!-- /#page-wrapper -->
        
  </div><!-- /#wrapper -->

      <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <script src='/script/formsHandler.js'></script>


</body>

</html>